/.idea/
/common/cache/.mvn/
/common/cache/target/
/common/datasource/.mvn/
/common/datasource/target/
/common/entity/.mvn/
/common/entity/target/
/dockerTest/.mvn/
/dockerTest/target/
/EurekaServer/.mvn/
/EurekaServer/target/
/Gateway/.mvn/
/Gateway/target/
/Order/.mvn/
/Order/target/
/Ticket/.mvn/
/Ticket/target/
/User/.mvn/
/User/target/